{% set navbar_id = 'navbar-' ~ uniq() %}

<nav class="{{ class_name }}">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#{{ navbar_id }}" aria-controls="{{ navbar_id }}" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="{{ navbar_id }}">
      {{ bootstrap_nav(nav, 'navbar-nav me-auto mb-2 mb-lg-0') }}
      {% if logout_path and app.user %}
      <ul class="navbar-nav mb-2 mb-lg-0 float-end">
        <li class="nav-item">
          <a class="nav-link" href="{{ logout_path }}">Log Out</a>
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
</nav>
